div.partie1{
	padding-top: 60pt;
}

div.partie2{
	padding-top: 80pt;

}

h3{
	border: 2px solid;
}

div.info{
	padding-top: 40pt;
}

img{
padding-left: 30pt;
}

.Center{
	margin-left: 335pt;
	width: 200pt;
}

footer{
	padding-top: 70pt;
}

	
